[Unit]
Description=Starts the components of Plex
Requires=docker.service
After=docker.service
Wants=network-online.target
After=network-online.target

[Service]
User=pms
Group=pms
WorkingDirectory=/etc/pms
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
